@import "variables";

.menu-section {
  padding: $container;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 100px;
  .heading {
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
    font-family: Mate-Regular;
  }
  .sub-heading {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    font-family: Mate-Italic;
  }
  .description {
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
    font-family: Mate-Italic;
    padding: 0px 40px;
    line-height: 30px;
  }

  .extra-details{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .menu-btn{
      background-color: $primary;
      color:#fff;
      font-size: 15px;
      padding: 15px 25px;
      border-radius: 50px;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
      text-decoration: none;
      font-weight: bolder;
      .bx{
        font-size: 25px;
        margin-left: 5px;
        vertical-align: middle;
      }
      &:hover{
        background-color: $secondary;
      }
    }
  }

  .menu-row {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    .dish-card {
      display: flex;
      justify-content: space-between;
      width: 48%;
      margin-bottom: 30px;

      .dish-image {
        width: 120px;
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        max-width: 120px;
        min-width: 120px;
        display: inline-block;       
        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 100px;
          border:2px dotted $primary;
          padding: 5px;
    
        }
      }
    }
    .dish-details {
      width: 100%;
      margin-left: 10px;
      padding: 0 10px;
      .dish-title {
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
        font-family: Mate-Italic;
        padding-bottom: 10px;
        border-bottom: 2px dotted $primary;
      }
      .dish-des {
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
        font-family: Mate-Italic;
      }
    }
    // .dish-price {
    //   margin-left: auto;
    //   font-size: 20px;
    //   color: $primary;
    //   padding: 0px 10px;
    // }
  }
}
@media screen and (max-width: 1030px) {
  .menu-section {
    .menu-row {
      margin-top: 80px;
      .dish-card {
        justify-content: flex-start;
        width: 100%;
        .dish-image {
          width: 120px;
          height: 120px;
          min-height: 120px;
          max-height: 120px;
          max-width: 120px;
          min-width: 120px;
        }
        .dish-details {
          .dish-des {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
// @media screen and (max-width: 800px) {
// }
@media screen and (max-width: 500px) {
  .menu-section {
    padding: 40px 20px;
    margin-top: 0px;
    .heading {
      font-size: 30px;
    }
    .sub-heading {
      font-size: 20px;
      margin: 0;
    }
    .description {
      font-size: 20px;
      margin: 20px 0;
      padding: 0px;
    }
    .menu-row {
      padding: 0;
      .dish-card {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .dish-image {
          width: 150px;
          height: 150px;
          min-height: 150px;
          max-height: 150px;
          max-width: 150px;
          min-width: 150px;
          margin-bottom: 20px;
        }
      }
      .dish-details {
        margin-left: 0px;
        padding: 0px;
        .dish-title {
          font-size: 20px;
        }
        .dish-des {
          font-size: 16px;
          margin-top: 20px;
        }
      }
      .dish-price {
        padding: 00px;
      }
    }
  }
}
// @media screen and (max-width: 450px) {
// }
// @media screen and (max-width: 400px) {
// }
// @media screen and (max-width: 300px) {
// }
