@import "variables";

.gallery-section {
  background-color: #0c0b0b;
  .heading {
    color: #fff;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    font-family: Mate-Regular;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    .border {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      border: 2px dotted $primary;
      margin: 0 10px;
    }
  }
  .sub-heading {
    color: $primary;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    font-family: Mate-Italic;
    font-weight: normal;
    text-align: center;
  }

  .gallery-row {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    .gallery-card {
      position: relative;
      width: 25%;
      .gallery-image {
        width: 100%;
        height: 250px;
        // min-height: 300px;
        // max-height: 300px;
        // max-width: 300px;
        // min-width: 300px;
        display: inline-block;
        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &:hover {
        .card-body {
          opacity: 1;
        }
      }

      .card-body {
        opacity: 0;
        position: absolute;
        bottom: 0px;
        background: $primary;
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        display: flex;
        transition: 0.5s ease;
        color: white;
        font-size: 10px;
        text-align: center;
        padding: 20px;
        span {
          margin: auto;
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 500px) {

  .gallery-section {
    .heading {
      font-size: 25px;
    }
    .sub-heading {
      font-size: 15px;
    }
  
    .gallery-row {
      .gallery-card {
        width: 50%;
        .gallery-image {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

}
@media screen and (max-width: 450px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 300px) {
}
